openapi: 3.0.3
info:
  title: Erebrus Gateway API v2
  version: 2.0.0
  description: |
    Public API of the Erebrus gateway (gateway.erebrus.io): auth, accounts,
    node discovery, VPN client provisioning, entitlements, organizations, and
    admin. Webapp: erebrus.io / dev.erebrus.io. FROZEN (v2.0): additive only.

    Auth modes:
      - User PASETO (wallet-signature or social login) — Authorization: Bearer
      - Org API key — X-Api-Key header (org-scoped routes; metered)
      - Node PASETO — node registration + WS upgrade only
      - Admin = user PASETO with role=admin claim
servers:
  - url: https://gateway.erebrus.io
paths:
  # ───────────────────────── ops (liveness / readiness / metrics) ─────────────────────────
  /healthz:
    get: { summary: Liveness, security: [], responses: { "200": { description: "ok" } } }
  /readyz:
    get:
      summary: Readiness (DB required, Redis optional)
      security: []
      responses:
        "200": { description: "{ status: ready, db: up, redis: up|disabled }" }
        "503": { description: DB unreachable }
  /version:
    get:
      summary: Build metadata
      security: []
      responses:
        "200":
          description: "{ product, service, environment, version, tag }"
  /metrics:
    get: { summary: "Prometheus metrics (netsepio_erebrus_gateway_*). Firewall to internal scrapers in prod.", security: [], responses: { "200": { description: text exposition } } }
  /telemetry/event:
    post:
      summary: Safe app telemetry events (Android/iOS/webapp)
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [platform, event, status]
              properties:
                platform: { type: string, enum: [android, ios, webapp] }
                event:
                  type: string
                  enum:
                    - vpn_connect_attempt
                    - vpn_connect_success
                    - vpn_connect_failure
                    - vpn_disconnect
                    - region_selected
                    - node_selected
                    - drop_room_created
                    - file_transfer_success
                    - file_transfer_failure
                status: { type: string, enum: [success, failed, attempted] }
      responses:
        "204": { description: Accepted }
        "400": { description: Invalid payload }

  # ───────────────────────── auth ─────────────────────────
  /api/v2/auth:
    get:
      summary: Start a wallet-signature login (challenge)
      security: []
      parameters:
        - {
            name: wallet_address,
            in: query,
            required: true,
            schema: { type: string },
          }
        - {
            name: chain,
            in: query,
            required: true,
            schema: { type: string, enum: [evm, sol] },
          }
      responses:
        "200":
          description: Challenge to sign. The EULA text identifies **Erebrus** (never NetSepio).
          content:
            application/json:
              schema:
                type: object
                properties:
                  flow_id: { type: string }
                  message:
                    {
                      type: string,
                      example: "I accept the Erebrus Terms of Service https://erebrus.io/terms. Challenge: <flow_id>",
                    }
    post:
      summary: Complete wallet-signature login
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [flow_id, signature]
              properties:
                flow_id: { type: string }
                signature: { type: string }
                public_key: { type: string, description: "Required for sol" }
                ref:
                  {
                    type: string,
                    description: "Optional referral code; binds referred_by once on first signup",
                  }
      responses:
        "200": { description: "{ token (PASETO, 24h), user_id }" }
        "401": { description: Bad signature / expired flow id }
  # Email is OPTIONAL: it links a verified address to an already-authenticated
  # wallet account (perks/ranking + recovery). It is never a login method and is
  # never required to use the VPN. Disabled (503) unless RESEND_API_KEY is set.
  /api/v2/auth/email:
    post:
      summary: Send a 6-digit OTP to link an email to the current account
      description: Requires a wallet bearer token. Rate-limited (60s resend cooldown).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                app:
                  type: string
                  description: Optional product/app name to display in the OTP email (e.g. "Erebrus Drop", "Erebrus AI"). Defaults to "Erebrus".
      responses:
        "200": { description: "{ status: sent, expires_in: <seconds> }" }
        "400": { description: Invalid email }
        "409": { description: Email already linked to another account }
        "429": { description: Resend cooldown — wait before requesting again }
        "503": { description: Email not configured (no RESEND_API_KEY) }
  /api/v2/auth/email/verify:
    post:
      summary: Verify the OTP and link the email (sets email_verified)
      description: Requires a wallet bearer token. Max 5 attempts per code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code: { type: string, example: "123456" }
      responses:
        "200":
          { description: Updated user profile (email + email_verified=true) }
        "401": { description: Wrong/expired code }
        "409": { description: Email already linked to another account }
        "429": { description: Too many attempts — request a new code }

  # ───────────────────────── account ─────────────────────────
  /api/v2/account/profile:
    get:
      {
        summary: Get profile,
        responses:
          {
            "200":
              {
                description: "User profile incl. wallet, chain, role, linked socials",
              },
          },
      }
    patch:
      {
        summary: Update profile,
        responses: { "200": { description: Updated } },
      }
  /api/v2/account/activity:
    get:
      summary: My account activity (audit log) — newest first
      description: "Security view: every meaningful action with IP + device, so you can spot anything you didn't do. Paginated by an opaque cursor (created_at)."
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: "{ activity[{id, action, target, ip, user_agent, device, app, created_at}], next_cursor? }" }

  # ───────────────────────── nodes (discovery) ─────────────────────────
  /api/v2/nodes:
    get:
      summary: List active nodes (cached in Redis, 10s TTL)
      security: []
      description: >
        OPTIONAL bearer enables tier-gated discovery: a node's min_tier hides it
        from callers below that tier; an anonymous caller (tier 0) sees only the
        open pool, admins see all.
      parameters:
        - { name: region, in: query, schema: { type: string } }
        - { name: zone, in: query, schema: { type: string, description: "Optional sub-region (e.g. east, west) within region" } }
        - {
            name: status,
            in: query,
            schema:
              {
                type: string,
                enum: [online, offline, draining],
                default: online,
              },
          }
      responses:
        "200":
          description: Public node directory — no raw IPs; access_mode='private' excluded; tier-gated by the caller
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/NodePublic" }
  /api/v2/nodes/register:
    post:
      summary: Node registration (challenge + signed response → node PASETO)
      security: []
      description: >
        Two-step machine enrollment gated by org registration_token (not human wallet auth).
        Mint tokens via POST /orgs/{id}/node-registration-tokens.
        Step 1: { registration_token, peer_id } → { flow_id, message, gateway_public_key }.
        Step 2: signed challenge + identity → { node_token, node_id (= peer_id), peer_id, node_key, gateway_public_key }.
        Node binds to the org resolved from the token. access_mode is public | private.
      responses:
        "200": { description: "{ node_token, node_id, peer_id, node_key, gateway_public_key }" }
        "401": { description: invalid registration_token or signature }
  /api/v2/nodes/ws:
    get:
      summary: WebSocket upgrade for the node control plane
      description: See ws-protocol.md (authoritative). Node PASETO required.
      responses: { "101": { description: Switching protocols } }

  # ───────────────────────── operator (node owner) ─────────────────────────
  /api/v2/operator/nodes:
    get:
      summary: My org nodes
      description: Runtime VPN nodes for orgs the caller belongs to (nodes table). Org id shown only to owner/admin. Includes private nodes. For org control-plane nodes use GET /orgs/{id}/nodes.
      responses: { "200": { description: Operator node list } }
  /api/v2/operator/nodes/{id}/metrics:
    get:
      summary: Time-series metrics for one of my nodes (charts)
      description: Caller must operate the node (own it or share its org), else 403.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - {
            name: range,
            in: query,
            schema:
              {
                type: string,
                default: "24h",
                description: "Go duration, clamped to 90 days",
              },
          }
        - {
            name: step,
            in: query,
            schema:
              {
                type: string,
                default: "5m",
                description: "Downsample bucket (min 1m)",
              },
          }
      responses:
        "200":
          {
            description: "{ node_id, range, step, points[] } — wg_peers, proxy_sessions, rx/tx_bytes, cpu/mem_pct per bucket",
          }
        "403": { description: Not your node }

  # ───────────────────────── referrals (social) ─────────────────────────
  /api/v2/referrals/me:
    get:
      summary: My referral code, who referred me, and recent referees
      description: >
        Code is short + shareable (allocated on first access). The qualifying
        action is the referee joining their first active organization (the
        personal basic organization created at first login qualifies).
      responses:
        "200":
          description: Referral summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string }
                  referred_count: { type: integer }
                  referred_by:
                    {
                      type: string,
                      description: "Referrer wallet (truncated), if any",
                    }
                  recent:
                    type: array
                    items:
                      type: object
                      properties:
                        wallet:
                          {
                            type: string,
                            description: "Referee wallet (truncated)",
                          }
                        qualified:
                          {
                            type: boolean,
                            description: "Referee has an active organization membership",
                          }
                        joined_at: { type: string, format: date-time }

  # ───────────────────────── rank / XP (social) ─────────────────────────
  /api/v2/rank/me:
    get:
      summary: My XP standing (earned/claimed/claimable, tier, breakdown)
      description: >
        Lifetime earned XP drives tier (T0..T4 at 0/100/500/2000/10000, tunable)
        and never decreases. Claimable = earned − claimed.
      responses:
        "200":
          description: Rank snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  xp_earned: { type: integer }
                  xp_claimed: { type: integer }
                  xp_claimable: { type: integer }
                  tier: { type: integer }
                  tier_name: { type: string }
                  next_tier_at: { type: integer, nullable: true }
                  breakdown_by_kind:
                    { type: object, additionalProperties: { type: integer } }
  /api/v2/rank/claim:
    post:
      summary: Deprecated personal entitlement reward endpoint
      description: Personal free-day rewards are retired because product access is organization-only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                type: object,
                required: [reward],
                properties: { reward: { type: string, enum: [free_days] } },
              }
      responses:
        "400": { description: Invalid request }
        "410": { description: Personal entitlement rewards are retired }
  /api/v2/leaderboard:
    get:
      summary: Top users by XP or referrals (Redis-cached) + my rank
      parameters:
        - {
            name: metric,
            in: query,
            schema: { type: string, enum: [xp, referrals], default: xp },
          }
        - {
            name: period,
            in: query,
            schema: { type: string, enum: [all, 30d], default: all },
          }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          {
            description: "{ metric, period, entries[{rank, wallet, value}], my_rank, my_value }",
          }

  # ───────────────────────── social verification + perks ─────────────────────────
  /api/v2/social/accounts:
    get:
      {
        summary: My verified social accounts,
        responses:
          {
            "200":
              { description: "[{provider, provider_id, handle, verified_at}]" },
          },
      }
  /api/v2/social/telegram:
    post:
      summary: Verify + link a Telegram account (Login Widget payload)
      description: "Body = the widget's key=value fields incl. hash. HMAC-verified against TELEGRAM_BOT_TOKEN. First link awards social_verified XP."
      responses:
        "200": { description: "{ provider, handle, newly_linked }" }
        "401": { description: Verification failed }
        "409": { description: Linked to another account }
        "503": { description: TELEGRAM_BOT_TOKEN not configured }
  /api/v2/social/x:
    post:
      summary: Verify + link an X account (OAuth2 access token)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                type: object,
                required: [access_token],
                properties: { access_token: { type: string } },
              }
      responses:
        "200": { description: "{ provider, handle, newly_linked }" }
        "401": { description: Verification failed }
        "409": { description: Linked to another account }
  /api/v2/perks:
    get:
      {
        summary: Perk catalog,
        tier-annotated (unlocked/granted),
        responses:
          {
            "200":
              {
                description: "{ tier, perks[{id, name, type, min_tier, unlocked, granted}] }",
              },
          },
      }
  /api/v2/perks/me:
    get:
      {
        summary: My granted perks,
        responses:
          { "200": { description: "[{perk_id, name, type, granted_at}]" } },
      }

  # ───────────────────────── vpn clients ─────────────────────────
  /api/v2/vpn/clients:
    get:
      summary: List my VPN clients
      responses: { "200": { description: Clients with node/region/status } }
    post:
      summary: Provision a VPN client on a node
      description: |
        Requires active organization membership; owners/node operators inherit
        the organization plan and members use their assigned seat tier.
        Flow: pending row committed → PUT node /api/v2/peers/{uuid} (10s
        timeout, 2 retries, idempotent) → active. Returns the full credential
        bundle: WireGuard conf (with REPLACE_WITH_PRIVATE_KEY placeholder),
        vless://, hysteria2://, and a complete sing-box profile with
        "auto" (urltest: wg→vless→hy2) and "stealth" (vless→hy2) groups.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name, node_id, wg_public_key]
              properties:
                name: { type: string }
                node_id: { type: string, description: Node peer_id }
                wg_public_key: { type: string }
                wg_preshared_key: { type: string }
                idempotency_key: { type: string }
      responses:
        "201": { description: Credential bundle }
        "402": { description: No active entitlement }
        "409": { description: Node draining or client limit reached }
        "502": { description: Node unreachable — no client created }
  /api/v2/vpn/clients/{id}:
    delete:
      {
        summary: Delete client (gateway + node),
        responses: { "204": { description: Deleted } },
      }
  /api/v2/vpn/clients/{id}/config:
    get:
      summary: Re-fetch credential bundle (replaces v1 Walrus/PIN flow)
      description: Authenticated proxy to node GET /api/v2/peers/{id}/credentials. Owner or admin only.
      responses:
        {
          "200": { description: Credential bundle },
          "404": { description: Not found },
        }

  # ───────────────────────── legacy subscription compatibility ────────────────
  /api/v2/subscriptions/plans:
    get:
      {
        summary: List plans,
        security: [],
        responses: { "200": { description: Plans } },
      }
  /api/v2/subscriptions:
    get:
      summary: Organization-derived compatibility entitlement state
      description: Personal trial, subscription, and NFT records do not authorize product access.
      responses:
        "200":
          description: Entitlement snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [active, expired, none] }
                  entitled: { type: boolean }
                  source: { type: string, enum: [org, admin] }
                  plan_id: { type: string }
                  trial_consumed:
                    {
                      type: boolean,
                      description: "Whether retained legacy data includes a personal trial row",
                    }
                  current_period_end:
                    { type: string, format: date-time, nullable: true }
                  nft_gating:
                    {
                      type: boolean,
                      description: "Whether NFT gating is configured on this gateway",
                    }
  /api/v2/subscriptions/trial:
    post:
      {
        summary: "Deprecated trial compatibility endpoint",
        description: "Does not create a personal trial; returns the caller's organization-derived entitlement.",
        responses:
          {
            "200": { description: Organization-derived entitlement },
          },
      }
  /api/v2/subscriptions/nft/refresh:
    post:
      summary: Verify the gating NFT for legacy rewards compatibility
      description: >
        NFT ownership may drive XP/reward compatibility but never grants product
        access; organization membership and seat tiers are authoritative.
      responses:
        "200": { description: NFT ownership verified }
        "400": { description: No wallet on account }
        "403": { description: Wallet does not hold the required NFT }
        "502": { description: NFT ownership check failed }
        "503": { description: NFT gating not configured }

  # ───────────────────────── organizations ─────────────────────────
  /api/v2/orgs:
    post:
      {
        summary: Create organization,
        responses: { "201": { description: Org created, caller is owner } },
      }
  /api/v2/orgs/{id}/apikeys:
    post:
      {
        summary: Issue API key (returned ONCE,
        stored hashed),
        responses: { "201": { description: "{ api_key }" } },
      }
    get:
      {
        summary: List keys (prefixes only),
        responses: { "200": { description: Keys } },
      }
  /api/v2/orgs/{id}/apikeys/{keyId}:
    delete:
      { summary: Revoke key, responses: { "204": { description: Revoked } } }
  /api/v2/orgs/{id}/usage:
    get:
      summary: Usage for a billing period
      parameters:
        [
          {
            name: period,
            in: query,
            schema: { type: string, example: "2026-06" },
          },
        ]
      responses:
        {
          "200":
            {
              description: "clients, api_calls, bandwidth_bytes",
            },
        }
  /api/v2/orgs/{id}/clients:
    get:
      {
        summary: VPN clients provisioned under this org,
        responses: { "200": { description: Clients } },
      }
  /api/v2/public/orgs/{slug}:
    get:
      summary: Public org profile (requires public_profile_enabled)
      security: []
      responses:
        "200": { description: Public org projection }
        "404": { description: Not found or profile disabled }
  /api/v2/orgs/{id}/entitlements:
    get:
      summary: Org plan entitlements
      responses: { "200": { description: Entitlement limits } }
  /api/v2/orgs/{id}/profile/public:
    get:
      summary: Org public profile (member)
      responses: { "200": { description: Public profile fields } }
    patch:
      summary: Update public profile fields (owner/admin)
      responses: { "200": { description: Updated } }
  /api/v2/orgs/{id}/members/invite:
    post:
      summary: Invite member by wallet and/or email
      description: >
        Requires org owner/admin. Provide wallet_address and/or email. Sends a Resend invite
        email when configured. Email-only invites stay pending until the invitee verifies
        that email; wallet invites activate on login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet_address: { type: string }
                email: { type: string, format: email }
                chain: { type: string }
                role: { type: string }
                seat_tier: { type: string }
      responses:
        "201": { description: "{ member } or { status, email, email_sent }" }
        "502": { description: Invite email failed to send }
  /api/v2/orgs/{id}/seats:
    get:
      summary: Seat allocation summary
      responses: { "200": { description: "{ members, paid_seats_used, paid_seats_included }" } }
  /api/v2/orgs/{id}/nodes:
    get:
      summary: Org control-plane nodes
      responses: { "200": { description: Org nodes } }
  /api/v2/orgs/{id}/nodes/{nodeId}/firewall:
    get:
      summary: Abstract firewall service (Shield or Sentinel)
      responses: { "200": { description: Firewall service } }
  /api/v2/orgs/{id}/nodes/{nodeId}/firewall/rules:
    get:
      summary: Sentinel firewall rules
      responses: { "200": { description: Rules } }
    post:
      summary: Create Sentinel firewall rule
      responses: { "201": { description: Rule created } }
  /api/v2/nodes/{nodeId}/heartbeat:
    post:
      summary: Node REST heartbeat (node PASETO)
      responses: { "204": { description: Recorded } }
  # ───────────────────────── admin ─────────────────────────
  /api/v2/admin/stats:
    get:
      summary: Platform overview (admin)
      responses:
        "200":
          description: |
            nodes{online,offline,by_status}, users{total}, subscriptions{by_plan},
            orgs{total}, traffic_30d{rx_bytes,tx_bytes}
  /api/v2/admin/nodes:
    {
      get:
        {
          summary: All nodes incl. heartbeat snapshot (paginated/filterable),
          responses: { "200": { description: Nodes } },
        },
    }
  /api/v2/admin/nodes/{id}/metrics:
    {
      get:
        {
          summary: Time-series metrics for any node (range/step like operator),
          responses:
            { "200": { description: "{ node_id, range, step, points[] }" } },
        },
    }
  /api/v2/admin/nodes/{id}/min_tier:
    {
      post:
        {
          summary: "Set a node's premium-pool tier gate",
          responses:
            {
              "200": { description: "{ node_id, min_tier }" },
              "404": { description: Node not found },
            },
        },
    }
  /api/v2/admin/perks:
    {
      post:
        {
          summary: "Create/update a catalog perk (type nft|xp|free_days|node_pool)",
          responses: { "200": { description: Saved } },
        },
    }
  /api/v2/admin/perks/{id}/grant:
    {
      post:
        {
          summary: "Grant a perk to a user (by user_id or wallet)",
          responses:
            {
              "200": { description: Granted },
              "404": { description: No user for wallet },
            },
        },
    }
  /api/v2/admin/users:
    {
      get:
        {
          summary: Users (paginated,
          searchable),
          responses: { "200": { description: Users } },
        },
    }
  /api/v2/admin/subscriptions:
    {
      get:
        {
          summary: Subscriptions (paginated),
          responses: { "200": { description: Subscriptions } },
        },
    }
  /api/v2/admin/orgs:
    {
      get:
        {
          summary: Orgs + usage rollups,
          responses: { "200": { description: Orgs } },
        },
    }
  /api/v2/admin/activity:
    get:
      summary: Fleet-wide activity / audit log (incident response) — newest first
      description: Same shape as /account/activity plus the actor's truncated wallet. Cursor-paginated.
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 50 } }
      responses:
        "200": { description: "{ activity[{id, user_id, wallet, action, target, ip, device, app, created_at}], next_cursor? }" }
  /api/v2/admin/settings:
    get:
      summary: List platform_settings (XP, legacy trial values, rate limits, auth text, …)
      responses:
        "200": { description: "{ settings[{key, value, description}] }" }
    patch:
      summary: Update platform settings (hot-reloads rate limits, XP weights, PASETO TTL for new tokens)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [settings]
              properties:
                settings:
                  type: object
                  additionalProperties: { type: string }
                  example: { trial_period: "168h", xp_referrer_points: "100" }
      responses:
        "200": { description: "{ status: updated }" }
        "400": { description: Unknown key or invalid value }

  # ───────────────────────── Drop (Kubo storage) ─────────────────────────
  # Drop is an independent optional service. Entitlement is organization-only:
  # the effective public tier is the highest active org seat. Uploads reserve
  # quota atomically, stream gateway→node→Kubo, and are committed idempotently.
  # Private confidentiality relies on client-side encryption; the gateway stores
  # only opaque encryption metadata and never raw Kubo addresses or key material.
  /api/v2/drop/nodes:
    get:
      summary: Discover Drop-capable nodes (authenticated)
      description: |
        `scope=public` (default) lists online public nodes accepting public
        uploads; `scope=private&org_id=…` lists an org's own Drop nodes (caller
        must be a member). Only coarse, non-sensitive fields are returned — no
        Kubo RPC URLs, credentials, or exact capacity. `capacity` is one of
        `available | limited | full | unknown`.
      parameters:
        - { name: scope, in: query, schema: { type: string, enum: [public, private], default: public } }
        - { name: org_id, in: query, schema: { type: string }, description: "required when scope=private" }
      responses:
        "200": { description: "{ scope, nodes[{node_id, org_id?, name, region, access_mode, deployment_profile, online, state, accepting_uploads, webui_available, capacity}] }" }
        "403": { description: Not a member of the org }
  /api/v2/drop/uploads:
    post:
      summary: Open an upload reservation (atomic quota + node-capacity hold)
      description: |
        Reserves public quota (or private-org node capacity) before any bytes
        are transferred. Idempotent per `(user, idempotency_key)`. Rejects with
        409 on quota, 507 on node capacity, 503 when the node is unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_id, scope, size_bytes, idempotency_key]
              properties:
                node_id: { type: string }
                scope: { type: string, enum: [public, private], default: public }
                visibility: { type: string, enum: [public, private], default: private }
                filename: { type: string }
                content_type: { type: string }
                size_bytes: { type: integer, description: declared byte length of the content that will be PUT }
                sha256: { type: string, pattern: "^[A-Fa-f0-9]{64}$", description: SHA-256 of the uploaded body }
                encrypted: { type: boolean }
                encryption_metadata: { type: object, description: opaque to the gateway }
                org_id: { type: string, description: "required for scope=private" }
                idempotency_key: { type: string }
      responses:
        "201": { description: "{ id, upload_id, node_id, scope, visibility, filename, size_bytes, declared_size_bytes, status, expires_at }" }
        "409": { description: Storage quota exceeded }
        "413": { description: File exceeds per-file ceiling }
        "507": { description: Node storage capacity exhausted }
        "503": { description: Drop node unavailable }
  /api/v2/drop/uploads/{upload_id}/content:
    put:
      summary: Stream upload content to the node (gateway→node→Kubo)
      description: |
        Streams the request body straight to the node without buffering, capped
        at the reserved size. On success the gateway pins, records the logical
        file, and converts the reservation into used bytes (idempotent). On a
        post-pin metadata failure creates a durable orphan-pin reconciliation
        job that checks shared-CID references before unpinning.
      parameters:
        - { name: upload_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/octet-stream: { schema: { type: string, format: binary } }
      responses:
        "200": { description: committed file metadata }
        "409": { description: Upload not accepting content }
        "413": { description: Body exceeds declared size }
        "502": { description: Node upload failed }
  /api/v2/drop/uploads/{upload_id}:
    get:
      summary: Upload reservation status
      parameters:
        - { name: upload_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ id, upload_id, status, cid?, expires_at, … }" }
        "404": { description: Not found }
  /api/v2/drop/files:
    get:
      summary: List the caller's Drop files (newest first)
      description: |
        Each file includes `id, node_id, scope, filename, size_bytes, visibility,
        encrypted, status, created_at` (owner also gets `cid` + `encryption_metadata`).
        Content is retrieved via the gateway proxy only
        (`GET /api/v2/drop/files/{file_id}/content`).
      responses: { "200": { description: "{ files[] }" } }
  /api/v2/drop/files/{file_id}:
    get:
      summary: File metadata (owner sees CID + encryption metadata; others do not)
      description: |
        Metadata only. Bytes stream through the gateway proxy at
        `GET /api/v2/drop/files/{file_id}/content` (no node public-gateway links).
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: file metadata }
        "403": { description: Not allowed }
        "404": { description: Not found }
    patch:
      summary: Change visibility (owner only)
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [visibility], properties: { visibility: { type: string, enum: [public, private] } } }
      responses: { "200": { description: updated file } }
    delete:
      summary: Delete a file (owner or org owner/node-operator)
      description: |
        Releases quota and marks the file delete-pending, then issues a physical
        unpin only when no other active file references the same CID on the node.
        Idempotent; leftover pin errors are retried by reconciliation.
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ status: deleted, unpinned }" }
        "202": { description: "{ status: delete_pending, unpinned: false }" }
        "403": { description: Not allowed }
  /api/v2/drop/files/{file_id}/content:
    get:
      summary: Stream file content (node→gateway→caller)
      description: |
        Streams the object through the gateway. Filenames are sanitized in the
        Content-Disposition header; encrypted payloads are served as opaque
        octet-streams with `X-Content-Type-Options: nosniff`.
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: file bytes }
        "404": { description: Not found }
  /api/v2/drop/usage:
    get:
      summary: Caller's public Drop usage + quota
      responses:
        "200": { description: "{ tier, entitlement_org_id, public_quota_bytes, max_file_bytes, used_bytes, reserved_bytes, available_bytes }" }
  /api/v2/drop/crypto/vault:
    get:
      summary: Fetch the caller's opaque encrypted Drop vault
      responses: { "200": { description: "{ version, kdf, iterations, salt, iv, ciphertext } or null" } }
    put:
      summary: Store the caller's encrypted Drop vault (optimistic-version guarded)
      description: |
        The vault is encrypted client-side and opaque to the gateway; no
        plaintext key material or recovery secret is ever stored. Bounded in
        size. Concurrent writes are optimistic-version guarded by the stored
        profile version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, kdf, iterations, salt, iv, ciphertext]
              properties:
                version: { type: integer, minimum: 1 }
                kdf: { type: string, example: PBKDF2-SHA256 }
                iterations: { type: integer, minimum: 1 }
                salt: { type: string }
                iv: { type: string }
                ciphertext: { type: string }
      responses:
        "200": { description: stored vault }
        "409": { description: Version conflict }
        "413": { description: Vault too large }
  /api/v2/drop/public/{file_id}:
    get:
      summary: Opaque public share metadata (no auth)
      description: |
        Returns metadata for a `public` + `active` file: `id, cid, filename,
        size_bytes, content_type, encrypted, created_at, content_url`. Content
        is always retrieved via the gateway proxy at
        `GET /api/v2/drop/public/{file_id}/content`. The path uses the file's
        opaque id — never a raw CID. Rate limited per IP. Any other state → 404.
      security: []
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ id, cid, filename, size_bytes, content_type, content_url }" }
        "404": { description: Not found / not public }
  /api/v2/drop/public/{file_id}/content:
    get:
      summary: Opaque public share content — gateway proxy (no auth)
      description: |
        Streams the file's bytes through the gateway. Sources the CID from
        **any** healthy node that holds it pinned so a single node offline does
        not break retrieval. Filenames are sanitized;
        `X-Content-Type-Options: nosniff`.
      security: []
      parameters:
        - { name: file_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: file bytes }
        "404": { description: Not found / not public }
  /api/v2/orgs/{org_id}/drop/files:
    get:
      summary: Private-org Drop files
      description: Ordinary members see only their own files; owners/node-operators may inspect all metadata but never receive another user's encryption metadata.
      parameters:
        - { name: org_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ files[] }" }
        "403": { description: Not a member }
  /api/v2/orgs/{org_id}/drop/usage:
    get:
      summary: Private-org aggregate Drop usage
      parameters:
        - { name: org_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ used_bytes, file_count }" }
        "403": { description: Not a member }
  /api/v2/orgs/{org_id}/nodes/{node_id}/drop/webui/session:
    post:
      summary: Open a short-lived same-origin Kubo WebUI proxy session (owner/node-operator)
      description: |
        Returns a gateway-relative `session_path`. The gateway proxies WebUI
        traffic through that path; the raw node/Kubo address is never revealed.
        Sessions are short-lived (5 min).
      parameters:
        - { name: org_id, in: path, required: true, schema: { type: string } }
        - { name: node_id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: "{ session_path, expires_in }" }
        "403": { description: Insufficient role }
        "409": { description: WebUI not available on node }
  /api/v2/drop/webui/{session_id}/{proxy_path}:
    get:
      summary: Same-origin Kubo WebUI proxy (session-validated)
      description: Relays to the node's private WebUI. Any method is accepted; the session id is validated server-side.
      security: []
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
        - { name: proxy_path, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: proxied response }
        "404": { description: Session not found or expired }
components:
  schemas:
    NodePublic:
      type: object
      properties:
        node_id: { type: string, description: Canonical libp2p peer_id (same as peer_id) }
        name: { type: string }
        did: { type: string }
        region: { type: string }
        zone: { type: string, description: "Optional sub-region within region (e.g. east, west)" }
        status: { type: string }
        access_mode:
          {
            type: string,
            enum: [public, private],
            description: "private nodes are not listed here",
          }
        min_tier:
          { type: integer, description: "premium-pool tier gate (0 = open pool)" }
        protocols: { type: array, items: { type: string } }
        capabilities: { type: object }
        speedtest:
          {
            type: object,
            properties:
              {
                download_mbps: { type: number },
                upload_mbps: { type: number },
                latency_ms: { type: number },
              },
          }
        load_pct:
          { type: number, description: Coarse load indicator for picker UX }
        peer_id: { type: string, description: libp2p peer id }
        wallet_address: { type: string, description: Node operator wallet at enrollment }
        chain:
          type: string
          enum: [SOLANA, ETHEREUM]
          description: Wallet chain set at node enrollment (not inferred from address format)
        ip_hash: { type: string, description: Hashed node IP (not raw address) }
        version: { type: string, description: Node software version }
        rx_bytes: { type: integer }
        tx_bytes: { type: integer }
        last_heartbeat:
          {
            type: string,
            format: date-time,
            description: Last node WS heartbeat (~30s when online; node marked offline after ~95s),
          }
        last_peer_handshake:
          {
            type: string,
            format: date-time,
            description: Latest WireGuard handshake across any VPN client on this node,
          }
        created_at: { type: string, format: date-time }
        org:
          type: object
          properties:
            name: { type: string }
            slug: { type: string }
            plan: { type: string, enum: [basic, starter, pro, business, enterprise] }
            verification_status: { type: string, enum: [unverified, verified, rejected] }
            public_profile_enabled: { type: boolean }
            display_name: { type: string }
            description: { type: string }
            website_url: { type: string }
